flex() {
	display flex
	display -ms-flex
	display -webkit-flex
}

flexDirection(value) {
	flex-direction value
	-webkit-flex-direction value
	
}

justifyContent(value) {
	justify-content value
	-webkit-justify-content value
}