.brand 
	display inline-block
	height 100px
	text-transform uppercase
	text-decoration none
	color $color-one
	font-size 1.2em
	font-weight 900
	font-style italic

	> .image
		display inline-block
		height 100%
		vertical-align middle
	