.card 
	display block
	width 100%
	padding 15px
	margin 7.5px
	border solid 1px #E4E4E4
	border-bottom solid 2px $color-one 
	text-align center
	opacity 1
	
	
	> .image 
		height 150px
		opacity .4
		margin-bottom 15px