@font-face {
  font-family: 'fontello';
  src: url('../assets/fonts/fontello.eot?47081044');
  src: url('../assets/fonts/fontello.eot?47081044#iefix') format('embedded-opentype'),
       url('../assets/fonts/fontello.woff2?47081044') format('woff2'),
       url('../assets/fonts/fontello.woff?47081044') format('woff'),
       url('../assets/fonts/fontello.ttf?47081044') format('truetype'),
       url('../assets/fonts/fontello.svg?47081044#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
}
 
.icon-search:before { content: '\e800'; } /* '' */