.input-group 
	border solid 1px #F1F1F1
	padding 15px
	boxShadow()
	width 100%
	
	
	> .input
	> .icon::before
		display inline-block
		font-size 1.2em
		color #999999
	
	> .place
	
	> .input 
		padding-right 15px
		line-height 1em
		width calc(100% - 50px)
		
	> .input:focus + .icon::before
		color $color-one
	
	> .icon
		width 40px;
		text-align right
		display inline-block
				
		&:before 
			line-height 1.2em
			
		
		
	
	
		
		

		
		